body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    color: blue;
}
#gub{
    color: darkkhaki;
}
h3{
    color: red;
}
.marshmellow{
    color: limegreen;
}
.pp{
    color: darkorange;
}
.fwd{
    color: hotpink;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 55%
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(173, 230, 182), rgb(222, 238, 130));
    padding: 12px 40px;
    color: aqua ;
    font-weight: 700;
    border-radius: 8px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Dream-innovater{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.ami{
    color: orange;
}
.mr{
    color: black;
}
.gub{
    color: chocolate;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
 
}
h2{
    font-size: 25px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#bd{
    border-left: 7px solid;
     border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
     border-image-slice: 1;
}
#cd{
    border-left: 7px solid;
     border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
     border-image-slice: 1;
}
footer p {
    text-align: center;
}